$light-green: #7ed56f;
$medium-freen: #55c57a;
$dark-green: #28b485;

$color-black: #000;
$color-while: #fff;
$color-white: #fff;
$colo-grey-light-1: #f7f7f7;
$colo-grey-dark-2: #999;
$color-grey-light-2: #f7f7f7;
$color-grey-dark:#999;

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light-1: #e6b122;
$color-secondary-light-2: #ee7737;

$color-secondary-light-3: #ffb900;
$color-secondary-light-4: #ff7730;

$color-tertiary-light-1: #2998ff;
$color-tertiary-light-2: #5643fa;
