.section-about {
  background-color: $colo-grey-light-1;
  padding: 25rem 0;
  margin-top: -10rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
}

.skills__col {
  width: 33.333%;
  @include respond(tab-992) {
    width: 62rem;
  }
  @include respond(tab-768) {
    width: 42rem;
  }
  @include respond(tab-576) {
    width: 48rem;
  }
  @include respond(tab-575px) {
    width: 50rem;
  }
}

.skills__box {
  width: 100%;
  padding: 3rem;
  font-size: 5rem;

  @include respond(tab-992) {
    font-size: 3rem;
  }
  @include respond(tab-768) {
    font-size: 2.6rem;
  }
  @include respond(tab-576) {
    font-size: 4rem;
  }
  @include respond(tab-575px) {
    font-size: 3.5rem;
  }
}

.skills__title {

}

.skills__colect {
  list-style: none;
}

.skills__item {
  display: flex;
  justify-content: left;
  align-items: center;
}

.skills__circle {
  height: 4rem;
  width: 4rem;
  border: 5px solid $color-primary;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  margin-right: .5rem;

  @include respond(tab-768) {
    height: 2rem;
    width: 2rem;
  }
  @include respond(tab-576) {
    height: 1.5rem;
    width: 1.5rem;
    border: 3px solid $color-primary;
  }

  @include respond(tab-575px) {
    height: 3rem;
    width: 3rem;
  }
}
.skills__circle--active {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: $color-primary;

  @include respond(tab-768) {
    height: 1rem;
    width: 1rem;
  }

  @include respond(tab-576) {
    height: .9rem;
    width: .9rem;
  }
  
}

.section-book {
  display: none;
  padding: 15rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  background-image: linear-gradient(105deg, 
  rgba(255,255,255,0.8) 0%,
  rgba(255,255,255,0.5) 49%, 
  transparent 50%),
  url(/img/email_inbox.png);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(#000000, $alpha: .25);
  height: 80rem;

  .book__form {
    width: 50%;
    padding: 6rem;
  }
}

.section-jobs {
  background-color: $colo-grey-light-1;
  padding: 5rem 3rem;
}


.card__container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 338px;
  height: 300px;
  position: relative;
  perspective: 1000px;
  margin: 3rem 4rem;

  @include respond(tab-992) {
    width: 285px;
    height: 315px;
    margin: 2rem 2rem;
  }
  @include respond(tab-768) {
    width: 320px;
    height: 326px;
    margin: 2rem 2rem;
  }
  @include respond(tab-576) {
    width: 246px;
    height: 280px;
    margin: 2rem 2rem;
  }
  @include respond(tab-575px) {
    width: 260px;
    height: 280px;
    margin: 2rem 2rem;
  }
}
.card__side--front, .card__side--back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: 1s;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  flex-wrap: wrap;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  transform: rotateY(180deg);
  align-items: center;
}
.card:hover .card__side--front {transform: rotateY(180deg);}
.card:hover .card__side--back {transform: rotateY(360deg);}

.card__image {
  width: 100%;
}

.card__heading-span {
  text-transform: uppercase;
  font-size: 3rem;
  @include respond(tab-576) {
    font-size: 5rem;
  }

  @include respond(tab-575px) {
    font-size: 5rem;
  }
}

.card__desc {
  font-size: 3rem;
  width: 100%;
  align-content: center;

  @include respond(tab-992) {
    font-size: 2rem;
  }
  @include respond(tab-768) {
    font-size: 1.8rem;
  }
  @include respond(tab-576) {
    font-size: 3rem;
  }
  @include respond(tab-575px) {
    font-size: 2.8rem;
  }
}

.card__heading-span, .card__desc {
  padding: 1rem;
}